@media (max-width: 1278px) {

  h1.titulo-section {
    font-size: 2rem;
  }

  /* ESTILO DO MENU */

  header {
    background-color: #ffffff;
    padding: 2px 4%;
    box-shadow: 0px 18px 23px -20px rgba(30, 30, 32, 1);
    position: fixed;
  }

  header .logotipo-cabecalho img {
    max-width: 120px;
  }

  .menu-dasktop {
    display: none;
  }

  /* ESTILO DA INTERFACE */
  .interface {
    max-width: 1278px;
    padding: 0 4%;
    margin: 0 auto;
  }

  /* ESTILO DA HERO */
  section.hero {
    background-image: var(--fundo);
  }

  .hero>.interface {
    text-align: center;
    gap: 54px;

    flex-direction: column-reverse;
  }

  /* .hero .img-hero {
        line-height: 0;
    } */

  .hero .img-hero img {
    max-width: 320px;
  }

  .hero .txt-hero h1 {
    font-size: 1.6rem;
    /* color: var(--corBranco);
        font-weight: 300; */
  }

  .hero .txt-hero h1 span {
    /* color: var(--corBTN);
        display: block;
        font-weight: 800; */
    font-size: 2rem;
    /* margin: 30px 0; */
  }

  .hero .txt-hero p {
    /* color: var(--corBranco); */
    font-size: 1rem;
    /* line-height: 1.6;
        margin: 24px 0;
        text-align: justify; */
  }

  /* .hero button {
        width: fit-content;
        width: 200px;
        height: 48px;
        margin: 30px 0;
    } */

  /* ESTILO DA SEÇÃO SOBRE MIM */
  /* section.sobre-mim {
    padding: 80px 0;
    background-color: var(--fundoSecundario);
  } */

  .sobre-mim>.interface {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
     */
    gap: 58px;
    flex-direction: column;
  }

  /* .sobre-mim .txt-sobre p {
    color: var(--corBranco);
    text-align: justify;
    line-height: 1.6;
    margin: 30px 0;
  } */

  /* .sobre-mim .btn-redes button {
    width: 56px;
    height: 56px;
    font-size: 24px;
    margin-right: 8px;
  } */

  .sobre-mim .img-sobre img {
    max-width: 400px;
    margin: 0 auto;
  }

  /* ESTILO DA SEÇÃO AREA DE ATUAÇÃO */
  /* section.skills {
    background-color: var(--fundo3);
    padding: 80px 0;
  } */

  .skills article {
    /* display: grid; */
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    /* gap: 16px;
    margin: 24px 0; */
  }

  /* .skills .box-skills {
    background-color: var(--fundoSecundario);
    padding: 24px;
    border-radius: 16px;
  } */

  /* .box-skills .icon-skills {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-bottom: 16px;
  } */

  /* .box-skills .icon-skills img {
    max-width: 60px;
  } */

  /* .icon-skills h2 {
    color: var(--corBranco);
   
    
  } */
  /* .icon-skills span {
    color: var(--corBTN);
  
    
  } */

  /* .box-skills p {
    color: var(--corBranco);
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
  } */
  /* 
  .skills .btn-contato {
    text-align: center;
  } */

  /* .skills .btn-contato button {
    width: fit-content;
    width: 200px;
    height: 48px;
  } */

  /* ESTILO DA LOCALIZAÇÃO */
  /* section.localizacao {
  padding: 80px 0;
  background-color: var(--fundoSecundario);
    
  } */
    /* 
  .localizacao > .mapa{
    display: flex;
  } */

  section.localizacao .mapa {
    /* display: flex; */
    /* justify-content: space-between; */

    flex-direction: column;
  }

  section.localizacao .mapa iframe {
   width: 100%;
    /* border-radius: 6px;
  box-shadow: -1px 6px 41px 2px rgba(0, 0, 0, 0.51);
   border: solid 2px var(--corBTN); */
  }

  section.localizacao .mapa article {
    margin-bottom: 30px;
    
  }

  /* section.localizacao  h1 {
  margin-bottom: 40px;
  } */

  /* .localizacao .mapa p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--corBranco);
  font-weight: 300;
  margin-top: 5px;
  
  } */

  /* .localizacao .mapa p i{
  color: var(--corBTN);
  font-size: 2rem;
  margin-right: 5px;
  } */

  /* ESTILO SEÇÃO CONTATO */
  /* section.contato {
    background-color: var(--fundo3);
    padding: 80px 0;
  } */

  .contato>.interface {
    /* display: flex;
    justify-content: space-between; */

    gap: 32px;
    flex-direction: column;
  }
  /* 
  .contato .txt-contato p {
    color: var(--corBranco);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
  } */

  /* .contato .txt-contato p i {
    color: var(--corBTN);
    font-size: 2rem;
  } */

  .contato form {
    width: 100%;
  }

  /* .contato form input,
  .contato form textarea {
    width: 100%;
    padding: 16px 10px;
    border: solid 2px var(--corBTN);
    color: var(--corBranco);
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 8px;
  } */

  /* .contato form .tel-proj {
    display: flex;
    align-items: center;
    gap: 10px;
  } */

  /* .contato form textarea {
    resize: none;
    height: 180px;
  } */

  /* .contato form input::placeholder,
  .contato form textarea::placeholder {
    color: var(--corBTN);
  } */

  /* .contato form .btn-enviar input {
    color: var(--corBTN);
    border-color: var(--corBTN);
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 1.2rem;
  } */

  /* .contato form .btn-enviar input:hover {
    background-color: var(--corBTN);
    color: var(--corBranco);
  } */


  /* ESTILO FOOTER */
  /* footer {
    padding: 40px 0;
    background-color: var(--escuro);
  } */

  /* footer .logo-footer img {
    max-width: 160px;
    margin-bottom: 0px;
  } */

  footer > .interface {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--corBranco); */

  flex-direction: column-reverse;
  gap: 32px;
  text-align: center;
  }

  /* footer .btn-redes button {
  width: 56px;
  height: 56px;
  font-size: 24px;
  margin-right: 8px;
  color: var(--corBranco);
  border: solid 1px var(--corBranco);
  } */
  /* 
  footer .btn-redes button:hover {
  color: var(--escuro);
  background-color: var(--corBranco);

  } */


  /* efeito rolagem */
/* header.rolagem {
  background-color: #ffffff;
  padding: 2px 4%;
  box-shadow: 0px 18px 23px -20px rgba(30, 30, 32, 1);
} */
/* 
header.rolagem .menu-dasktop a {
  color: var(--corBTN);
} */

/* header.rolagem .menu-dasktop button {
  color: var(--corBranco);
  background-color: #413d38;
} */

header.rolagem .logotipo-cabecalho img{
  max-width: 120px;
}

}